language: cpp
dist: bionic
os: linux
before_install:
- sudo apt-get -y install libsdl2-dev
- sudo apt-get -y install libboost-program-options-dev
script:
- mkdir -p build
- cd build
- cmake ..
- make


